html {

}

.logobox {
    display: flex;
    justify-content:flex-start;
    padding-left: 5em;
    padding-bottom: 1em;







}

.logoimg{

    height: 200px
}

.infosection{

    position: absolute;

    display: flex;
    flex-direction: column;
    width: 1600px;
    height: 830px;
    background: linear-gradient(transparent 0,rgba(0, 0, 0, 0) ), url("InfoPicture.png");
    background-position:bottom;
    background-size: 130em;
    transition: all 1.8s;

}

.infosection:hover{
    height: 830px;
    background: linear-gradient(transparent 0,rgba(0, 0, 0, 0.75) ), url("InfoPicture.png");
    background-position:bottom;
    background-size: 150em;




}

.infosection:hover >.infotext {
    font-size: 2.8em;

}

.infosection:hover .kontakt_text {
    font-size: 2.1em;
}

.infosection:hover .kontakt_img {
    font-size: 2.1em;
}

.infotext{
    font-weight: 600;
    font-size: 2.7em;
    color: white;
    text-shadow: 1px 1px 7px #000000;
    display: flex;
    align-items: center;
    margin-left: 400px;
    margin: 50px;
    margin-left: 200px;
    flex-basis: 600px;

    transition: all 1.8s;


}


.kontaktbox{
    display: flex;
    justify-content: flex-end;
    height: 50px;

    padding-right: 10em;
    padding-bottom: 5em;
}

.kontakt_text{
    color: #ffffff;
    text-shadow: 1px 1px 7px #000000;
    font-size: 2em;
    transition: all 1.8s;
}

.kontakt_img{
    padding-left: 0.2em;
   color: #ffffff;
    text-shadow: 1px 1px 7px #000000;
    font-size: 2em;
    transition: all 1.8s;
}

.navigationbars{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 1311px;



}

.navboxes{
    display: flex;
    flex-direction: column;

}

.navbox1{
    width: 110%;
    height: 10em;

    display: flex;
    justify-content: center;
    background-color: #606264;
    align-items: center;
    border-color: aquamarine;

    background-image: url(placeholderNav1.png);
    background-position:1px 290px;
    background-size: 150em;



}

.navbox2{
    width: 110%;
    height: 10em;
    display: flex;
    justify-content: center;
    background-color: #EAECEE;
    align-items: center;
    background-image: url(placeholderNav2.png);
    background-position:1px 290px;
    background-size: 150em;
}

.navbox3{
    width: 110%;
    height: 10em;
    display: flex;
    justify-content: center;
    background-color: #9fa3a7;
    align-items: center;
    background-image: url(placeholderNav3.png);
    background-position:1px 290px;
    background-size: 150em;

}

.emne1 {

    color: #ffffff;
    font-size: 5em;
    text-decoration: none;
    text-shadow: 1px 1px 7px #000000;
    transition: all 1.8s;
}

.emne1:hover{
    text-decoration:underline;
    font-size: 6em;
}

.emne2 {

    color: #ffffff;
    font-size: 5em;
    text-decoration: none;
    text-shadow: 1px 1px 7px #000000;
    transition: all 1.8s;
}

.emne2:hover{
    text-decoration:underline;
    font-size: 6em;
}

.emne3 {

    color: #ffffff;
    font-size: 5em;
    text-decoration: none;
    text-shadow: 1px 1px 7px #000000;
    transition: all 1.8s;
}

.emne3:hover{
    text-decoration:underline;
    font-size: 6em;
}

h1{
    font-size: 3em;
    color: #444444;

}



.Box_Emne1{
    background: linear-gradient(rgb(198, 22, 22));
    display: flex;
    justify-content: center;
    height: 40em;
    background-color: #EAECEE;
    background: linear-gradient(rgba(0, 0, 0, 0.35),#EAECEE,#EAECEE);




}


.Box_Emne2{
display: flex;
flex-direction: row;
background-color: cornflowerblue;





}
.TextBox_Emne1{
    display: flex;
    flex-direction: column;
    flex-basis: 500px;



}
.TextImg_Emne1{
    margin-left: 75px;
    flex-basis: 100px;
    margin-top: 50px;



}

.top_Emne1{
   margin-top: 80px
}

.bottom_Emne1{
    margin-right: 150px;
    margin-top: 50px;
    color: #444444;
    font-size: 1.4em;

}

.circlepic{

    height: 40%;

}

.Box_Emne2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 1000px;

}

.TextBox_Emne2{
    display: flex;
    align-items:center;
    flex-basis: 400px;
}
.display{
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}



.trykPicture {


    width: 300px;
    background-image: url(placeholderNav1.png);
    background-position:-90px 1px;
    background-size: 33em;
    height: 300px;

}

*,
*:before,
*:after



@media only screen and (max-width: 717px) {

     #typografi .image{
       flex-basis: 500px;

    }
}


.bottom {
    display: flex;
    flex-direction:row;
    justify-content: space-around;

}

.bottomText{
    flex-basis: 200px;

}

.column_content{
    background: linear-gradient(rgb(198, 22, 22));
    display: flex;
    justify-content: center;
    height: 4em;
    background-color: #EAECEE;
    background: linear-gradient(rgba(0, 0, 0, 0.35),#EAECEE,#EAECEE);
}

.bottom{
    {
    background: linear-gradient(rgb(198, 22, 22));
    display: flex;
    justify-content: center;
    height: 10em;
    background-color: #EAECEE;
    background: linear-gradient(rgba(0, 0, 0, 0.35),#EAECEE,#EAECEE);

}

